entrypoint = "streamlit_app.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["geckodriver", "glibcLocales"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[run]
command = "streamlit run streamlit_app.py"


[deployment]
run = ["streamlit", "run", "streamlit_app.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8501
externalPort = 80
